<div class='planechase'>
  <h1>Planechase</h1>
  <div class='plane'>
    <img ng-click='planeswalk()' ng-src='{{currentPlane}}'>
  </div>
  <div class='buttons'>
      <button class='btn btn-olive btn-lg' ng-click='planeswalk()'>Planeswalk</button>
      <button class='btn btn-teal btn-lg' ng-click='rollDie()'>Roll Die</button>
  </div>
  <div class='buttons'>
      <button class='btn btn-navy btn-lg' ng-click='lookAtTopCard()'>Look At Top Card</button>
      <button class='btn btn-navy btn-lg' ng-click='putOnBottom()'>Put On Bottom</button>
      <button class='btn btn-navy btn-lg' ng-click='shuffle()'>Shuffle</button>
      <button class='btn btn-red btn-lg' ng-click='loadPlanes()'>Restart</button>
  </div>
  <button ng-click='listPlanes()'>listPlanes</button>
</div>


<script type="text/ng-template" id="lookAtCardModal.html">
  <div class="modal-header">
      <h3 class="modal-title">Top Card of Deck</h3>
  </div>
  <div class="plane-modal modal-body">
    <img ng-src='{{plane}}'>
    <button class='btn btn-lime' ng-click='putOnBottom()'>Put on Bottom</button>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>
