@import (reference) '../bower_components/bootstrap/less/variables.less';


.planechase{
  nav{
    &:extend(.clearfix all);
    display: inline-block;
    padding:5px 0;
    text-align:center;
    a {
      padding: 0 @padding-base-horizontal;
      font-size: 1vw;
      display: inline-block;
      transition-duration: .2s;
      color:@gray-dark;
      &:focus {
        text-decoration: none;
        color:@gray-dark;
      }
      &:hover{
        text-decoration: none;
        color:@gray-dark;
      }
      &:after {
      	content: '';
      	display: block;
      	margin: auto;
      	height: 3px;
      	width: 0px;
      	background: transparent;
      	transition: width .5s ease, background-color .5s ease;
      }
      &:hover:after {
      	width: 100%;
      	background: @gray-dark;
      }
      &.active:after{
      	width: 100%;
      	background: @gray-dark;
      }
    }
  }
  .main{
    .make-row();
  }
  .plane{
    .make-row();
  }
  margin-top:@padding-base-vertical;
  .controls{
    .make-md-column(3);
    .make-md-column-pull(9);
    button{
    }
  }
  img{
    .make-md-column(9);
    .make-md-column-push(3);
    margin-bottom:@padding-base-vertical;
    transition: .5s ease;
    .img-responsive;
  }
  img + img{
    display:none;
  }
}
.planechase-all{
  margin-top:@padding-base-vertical;
  .header{
    .make-xs-column(12);
    .control{
      display: inline-block;
    }
  }
  .make-row();
  img{
    .make-md-column(6);
    .make-lg-column(4);
    margin-bottom:@padding-base-vertical;
    transition: .5s ease;
    .img-responsive;
  }
  input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid @black;
    &:focus{
      outline:0;
      text-decoration: none;
    }
  }
}
.planechase-single{
  margin-top:@padding-base-vertical;
  img{
    transition: .5s ease;
    .img-responsive;
  }
}
