@import "packages/bootstrap";
@import "packages/font-awesome";
@import "utils";
@import "buttons/better-buttons";

//General Stuff
body,html{
  height:100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  color:@gray-dark;
}

@import 'header';
@import 'planechase';
